
.btn-static {
    background-color: #007bff;
    color: white;
    border: 2px solid #FFD700;
    border-radius: 5px;
    font-size: 1vw;
    cursor: pointer;
    padding: 0.5vw 1vw;
    text-align: center;
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fixed-bottom-center {
    bottom: 10px;
    left : auto;
}

.contact-container {
    position: relative;
    width: 100%;
}

    .contact-container .btn-static {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }


/* idx page */
.chaomung {
    box-sizing: border-box; 
    font-size: 3vw;
    text-align: center;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    animation: borderBlink 5s infinite;
    border: 3px solid transparent;
    width: auto;
    margin: 5px auto;
    white-space: nowrap;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: #2c3e50;
    font-weight: bold;
}
.napthe-form-container {
    flex :1;
}
/* Thanh ngang cơ bản */
.menu-bar {
    background-color: #f4f4f4;
    padding: 10px;
    display: flex;
    align-items: center; /* Canh nút Menu giữa chiều dọc */
    flex-direction : column;
    width : auto;
}

/* Nút "Menu" */
.menu-btn {
    background-color: #007bff;
    color: white;
    border: 2px solid #ffd700;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-right: 20px; /* Tạo khoảng cách với danh sách */
}

/* Danh sách danh mục */
.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; /* Mặc định ẩn */
}

    /* Khi hiển thị, thêm class .show để display: block */
    .menu-list.show {
        display: block;
        /* Nếu muốn hiển thị dạng khối dọc, có thể thêm style cho li */
    }

    /* Style cho từng mục trong danh sách */
    .menu-list li {
        margin: 5px 0; /* Mỗi danh mục cách nhau 5px */
    }

        /* Style cho link */
        .menu-list li a {
            text-decoration: none;
            color: #333;
            padding: 5px 10px;
            border-radius: 3px;
            display: inline-block;
            transition: background-color 0.3s;
        }

            .menu-list li a:hover {
                background-color: #ddd;
            }


/* napthe */
.napthe {
    display: flex;
    align-items: flex-start;
    background-color: #f4f4f4;
    flex-direction: row;
    margin: 0 auto;
    height: auto;
    gap : 20px;
}

    .napthe .form-container {
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 280px;
        text-align: center;
    }

    .napthe form div {
        margin-bottom: 10px;
    }

    .napthe label {
        display: block;
        font-size: 16px;
        text-align: left;
    }

    .napthe input {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

        .napthe input[type="submit"] {
            background-color: #007bff;
            color: white;
            cursor: pointer;
            font-size: 16px;
            border: none;
            padding: 10px;
            border-radius: 5px;
        }

.napthe-title {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: bold;
    color: #2c3e50;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    text-align: center;
}

.index-page input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 3vw;
    border: none;
    padding: 0.5vw;
    border-radius: 5px;
}

.index-page button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1vw;
    border: none;
    padding: 0.5vw;
    border-radius: 5px;
}

@keyframes borderBlink {
    0% {
        border-color: red;
    }

    14% {
        border-color: orange;
    }

    28% {
        border-color: yellow;
    }

    42% {
        border-color: green;
    }

    57% {
        border-color: blue;
    }

    71% {
        border-color: indigo;
    }

    85% {
        border-color: violet;
    }

    100% {
        border-color: red;
    }
}

/* reload-button */
.reload-button {
    top: 10px;
    left: 10px;
    font-size: 0.1vw;
    padding: 0.1rem 0.1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .reload-button:hover {
        background-color: #0056b3;
    }

.blinking-color-text {
    font-size: 3vw;
    font-weight: bold;
    animation: blinkColor 2s infinite;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.OptionAcc {
    background-color: #FF6666;
    border: 2px solid orange;
    border-radius: 10px;
    width: 23.5%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 5px;
}

.card img {
    width: 100%;
    height: auto;
}

#nextpage {
    padding: 0.3vw 0.7vw;
}

.footer {
    text-align: center;
    padding: 10px 0;
}

.OptionRandom {
    background-color: #FF6666;
    border: 2px solid orange;
    border-radius: 10px;
    width: 23.5%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 5px;
}

.card-content h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffd700;
    margin-bottom: 10px;
}

.dangkytaikhoan {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: bold;
    color: #2c3e50;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: center;
}

.dangnhaptaikhoan {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: bold;
    color: #2c3e50;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: center;
}

.logsign-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    flex-direction: column;
    margin: 0;
}

    .logsign-page form div {
        margin-bottom: 10px;
    }

    .logsign-page label {
        display: block;
        font-size: 16px;
        text-align: left;
    }

    .logsign-page input {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.logsign-page .form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 280px;
    text-align: center;
}

.products body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #b3daf0;
    color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* qtrung css - Container của form customer */
.form-container {
    background-color: #4465da;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(85, 98, 105, 0.5);
    width: 50%;
    position: relative;
    margin: 0 auto;
}

/* Tiêu đề của form */
.title-head {
    text-align: center;
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Nhóm form */
.form-group {
    margin-bottom: 20px;
}

    .form-group label {
        display: block;
        color: white;
        font-weight: bold;
        margin-bottom: 5px;
    }

.input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #fafafa;
    transition: border-color 0.3s;
}

    .input-field:focus {
        border-color: #007BFF;
        outline: none;
    }

.submit-btn {
    width: 100%;
    padding: 14px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .submit-btn:hover {
        background-color: #0056b3;
    }

.back-btn {
    padding: 10px 20px;
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

    .back-btn:hover {
        background-color: #ddd;
    }

a {
    text-decoration: none;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .form-actions button {
        padding: 8px 12px;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

.reset-btn {
    background-color: #f44336;
    color: white;
}

.edit-btn {
    background-color: #ff9800;
    color: white;
}

.close-btn {
    background-color: #555;
    color: white;
}

