@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Xác nhận đơn hàng";
}

<h2>Đặt hàng thành công!</h2>
<p>Cảm ơn bạn đã mua hàng. Chúng tôi sẽ xử lý đơn hàng của bạn trong thời gian sớm nhất.</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Quay lại trang chủ</a>
