@model Webprj.Models.Supplier

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sửa Nhà Cung Cấp</title>
    <link rel="stylesheet" type="text/css" href="~/css/views/SupplierView.css" />
</head>
<body>

    <h3>Chỉnh Sửa Nhà Cung Cấp : @Model.SupplierId</h3>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="ConfirmEditSupplier" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SupplierId" />
                <div class="form-group">
                    <label asp-for="SupplierId" class="control-label">Mã Nhà Cung Cấp : </label>
                    <input asp-for="SupplierId" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group">
                    <label asp-for="ShortName" class="control-label">Tên Ngắn</label>
                    <input asp-for="ShortName" class="form-control" />
                    <span asp-validation-for="ShortName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FullName" class="control-label">Tên Đầy Đủ</label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label">Số Điện Thoại</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label">Địa Chỉ</label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                    <a asp-action="SupplierView" class="btn btn-secondary">Hủy</a>
                </div>
            </form>
        </div>
    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
