@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Liên Hệ Chúng Tôi</title>
    <meta charset="utf-8">
    <meta name="author" content="Sơn Tây">
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")" />
</head>
<body>
    <div class="contact-container">
        <button class="btn-static" onclick="window.open('https://www.facebook.com/sontaypham226', '_blank')">
            Facebook Sơn Tây Phạm
        </button>
        <button class="btn-static" onclick="window.open('https://www.facebook.com/lequoctrungallinmonad', '_blank')">
            Facebook Lê Quốc Trung
        </button>
        <button class="btn-static" onclick="window.open('https://github.com/sontay226', '_blank')">
            Github Sơn Tây Phạm
        </button>
        <button class="btn-static" onclick="window.open('https://github.com/Quoctrug1115', '_blank')">
            Github Lê Quốc Trung
        </button>
    </div>
</body>
</html>
