@model Webprj.Models.Product
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
    <body class="index-page">
        <div class="napthe">
        <nav class="menu-bar">
            <button class="btn-static" onclick="toggleMenu()">Menu</button>
            <ul class="menu-list" id="menu-list">
                <li><a href="#">Danh Mục 1</a></li>
                <li><a href="#">Danh Mục 2</a></li>
                <li><a href="#">Danh Mục 3</a></li>
                <li><a href="#">Danh Mục 4</a></li>
            </ul>
        </nav>
        </div>
          <h1>Chăm Sóc Sức Khỏe Gia Đình</h1>         
         <div class="container" >
            <div class="OptionAcc">
                <img src="images/rocket 1h .jpg">
                <div class="card-content">
                    <h3>Rocket 1h </h3>
                    <button>Xem Chi Tiết</button>
                </div>
            </div>
            <div class="OptionAcc">
                <img src="images/OMRON HEM 7156T.jpg">
                <div class="card-content">
                    <h3>Máy Đo Huyết Áp Tự Động OMROM HEM 7156T</h3>
                    <button>Xem Chi Tiết</button>
                </div>
            </div>
        <div class="OptionAcc">
            <img src="images/May-do-duong-huyet-Accu-Chek-Guide-va-que-thu-400x400.jpg">
            <div class="card-content">
                <h3>Máy Đo Đường Huyết Accu-Chek-Guide</h3>
                <button>Xem Chi Tiết</button>
            </div>
        </div>
        <div class="OptionAcc">
            <img src="images/may massage dr ho new 2020 .jpg">
            <div class="card-content">
                <h3>Máy Massage Dr Ho 2020</h3>
                <button>Xem Chi Tiết</button>
            </div>
        </div>
         </div>
        <h1>Tủ Thuốc Gia Đình</h1>
        <div class="container">
            <div class="OptionAcc">
                <img src="images/xelankarmaergolite.png">
                <div class="card-content">
                    <h3>Xe Lăn Karma Ergo Lite</h3>
                    <button>Xem Chi Tiết</button>
                </div>
            </div>
            <div class="OptionAcc">
                <img src="images/OMRON HEM 7156T.jpg">
                <div class="card-content">
                    <h3>Máy Đo Huyết Áp Tự Động OMROM HEM 7156T</h3>
                    <button>Xem Chi Tiết</button>
                </div>
            </div>
            <div class="OptionAcc">
                <img src="images/May-do-duong-huyet-Accu-Chek-Guide-va-que-thu-400x400.jpg">
                <div class="card-content">
                    <h3>Máy Đo Đường Huyết Accu-Chek-Guide</h3>
                    <button>Xem Chi Tiết</button>
                </div>
            </div>
            <div class="OptionAcc">
                <img src="images/may massage dr ho new 2020 .jpg">
                <div class="card-content">
                    <h3>Máy Massage Dr Ho 2020</h3>
                    <button>Xem Chi Tiết</button>
                </div>
            </div>
    </div>
</body>
<script>
    function toggleMenu() {
        var menuList = document.getElementById("menu-list");
        menuList.classList.toggle("show");
    }
</script>
</html>