<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang Chủ</title>
    <meta charset="utf-8">
    <meta name="author" content="Sơn Tây">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body class="index-page">
    <header class="header-container">
        <div class="">
            <h1 class="chaomung">Shop Bán Thiết Bị Y Tế</h1>
        </div>
        
        <div>
            <button class="btn-static " onclick="window.open('contact.html','_blank')">
                Contact
            </button>
            <button class="btn-static " onclick="window.open('dangky.html','_blank')">
                Đăng Ký
            </button>
            <button class="btn-static" onclick="window.open('dangnhap.html','_blank')">
                Đăng Nhập
            </button>
        </div>

    </header>

    @RenderBody()


    <footer class="border-top footer text-muted">
        <!-- Footer content -->
        <button class="btn-static fixed-bottom-center" onclick="window.open('page2.html','_blank')">
            Next Page
        </button>
    </footer>
</body>
</html>
