@model Webprj.Models.ViewModel.SigninViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Đăng Nhập Tài Khoản
        </title>
        <meta charset="utf-8">
        <meta name="author" content="Sơn Tây">
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")" />
</head>
    <body class="logsign-page">
        <div class="container">
            <h1 class="dangnhaptaikhoan">Đăng Nhập Tài Khoản</h1>
        </div>
        <form asp-action="Signin" asp-controller="Customer" method="post">
            @Html.AntiForgeryToken()
            <div class="form-container">
                <div>
                    <label for="Email">Email</label>
                    <input type="text" id="email" name="Email">
                </div>
                <div>
                <label for="matkhau">Mật Khẩu</label>
                <input type="password" id="matkhau" name="Password">
                </div>
            </div>
            <input type="submit" value="Đăng Nhập">
        </form>
    </div>
    </body>
</html>