@model Webprj.Models.ViewModel.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Quên mật khẩu";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="ForgotPassword" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Gửi link đặt lại mật khẩu</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
