@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Link đã được gửi</title>
    <meta charset="utf-8">
    <meta name="author" content="Sơn Tây">
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="logsign-page">
    <div class="form-container text-center">
        <h2 class="dangnhaptaikhoan">Link đã được gửi</h2>
        <p>Nếu email của bạn tồn tại và đã được xác nhận , bạn sẽ nhận được link đặt lại mật khẩu . Vui lòng kiểm tra hộp thư của bạn.</p>
        <a class="btn btn-primary mt-3" asp-controller="Home" asp-action="Index">Quay về trang chủ</a>
    </div>
</body>
</html>
