@model Webprj.Models.ViewModel.ForgotPasswordViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Quên Mật Khẩu</title>
    <meta charset="utf-8">
    <meta name="author" content="Sơn Tây">
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>
</head>
<body class="logsign-page">
    <form asp-action="ForgotPassword" asp-controller="Account" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-container">
            <h1 class="dangnhaptaikhoan">Quên Mật Khẩu</h1>
            <div>
                <label for="Email">Email</label>
                <input type="email" id="email" name="Email" class="form-control" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <input class="chaomung text-center fw-bold" type="submit" value="Gửi Link Đặt Lại Mật Khẩu">
    </form>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
