@model Webprj.Models.Category

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thêm Danh Mục</title>
    <link rel="stylesheet" type="text/css" href="~/css/views/CategoryView.css" />
</head>
<body>

<h4>Thêm Danh Mục Mới</h4>
<hr />
        <form asp-action="ConfirmCreateCategory" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label">Nhập Tên Danh Mục</label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Nhập Mô Tả</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Lưu</button>
            <a asp-action="CategoryView" class="btn btn-secondary">Hủy</a>
        </div>
        </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
